@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Manrope", sans-serif;
    background-color: var(--light-grayish-blue);
    color: var(--very-dark-grayish-blue);
}

p {
    font-size: 13px;
    font-weight: 500;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card {
    position: relative;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90vw;
    max-width: 400px;
}

.card > img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
    margin: 5px auto;
}

.content > h4 {
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.content > p {
    color: var(--desaturated-dark-blue);
    margin-bottom: 20px;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.author {
    display: flex;
    align-items: center;
    gap: 10px;
}

.author > img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.info > h5 {
    font-weight: 700;
}

.info > p {
    color: var(--grayish-blue);
}

#share {
    z-index: 1;
    border: none;
    background-color: var(--light-grayish-blue);
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

#share:hover,
#share:focus {
    background-color: var(--desaturated-dark-blue);
}

#share:hover img,
#share:focus img {
    filter: brightness(0) invert(1);
}

.share-overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--very-dark-grayish-blue);
    padding: 16px 32px;
    color: var(--grayish-blue);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    display: flex;
    align-items: center;
}

.share-overlay p {
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-right: 21px;
    margin-bottom: 5px;
}

.share-overlay a {
    margin-right: 15px;
}

.active {
    opacity: 1;
    visibility: visible ;
    padding: 20px;
}

@media (min-width: 320px) and (max-width: 375px) {
    .share-overlay p {
        letter-spacing: 3px;
        margin-right: 10px;
    }
}
@media (min-width: 768px) {
    .card {
        max-width: 730px;
        display: flex;
    }
    .card > img {
        width: 40%;
        height: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 0;
        border-bottom-left-radius: 20px;
    }
    .content {
        justify-content: center;
        padding: 40px;
    }
    .content > h4 {
        font-size: 1.5rem;
    }
    .content > p {
        font-size: 1rem;
    }
    .share-overlay {
        position: absolute;
        left: 65%;
        bottom: 25%;
        width: 40%;
        border-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        justify-content: center;
        position: absolute;
        &::after {
            content: "";
            position: absolute;
            bottom: -10px;
            left: 68%;
            transform: translateX(-50%);
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid var(--very-dark-grayish-blue);
        }
    }
    .active{
        padding: 10px;
    }
}

@media (min-width: 1440px) {
    .card {
        max-width: 830px;
    }
    .card > img {
        width: 300px;
    }
    .content {
        padding: 32px 40px;
    }
    .share-overlay {
        width: 32%;
        left: 75.5%;
        bottom: 28%;
        &::after {
            left: 55%;
        }
    }
}
